.marina-store {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 95px);
  margin: 0 auto;
}
.marina-store > * {
  padding: 2rem;
}
.marina-store > *:first-child {
  flex-basis: 60%;
  background: $offwhite;
}
.marina-store > *:nth-child(2) {
  flex-basis: 40%;
  min-width: 300px;
  background: $grey-light;
}

ul.order li {
  border-bottom: 1px solid #000;
  padding: 2rem 0;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
}
ul.order li:hover button {
  display: inline;
  cursor: pointer;
}
ul.order li button {
  border: 0;
  display: inline;
  line-height: 1;
  width: 30px;
}
ul.order li button:hover {
  text-decoration: underline;
}
ul.order li .price {
  font-size: 1.2rem;
}
ul.order li span.count {
  position: relative;
  overflow: hidden;
  float: left;
}
ul.order li span.count span {
  display: inline-block;
}
.total {
  padding: 2rem 0;
  font-size: 1rem;
  border-bottom: 3px solid #000;
  border-top: 1px #000;
}
.total strong {
  float: right;
}
.order-title {
  text-align: center;
}

/* shop products list */

.list-of-product {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  margin-top: 2rem;
}

.menu-product {
  display: flex;
  flex-wrap: wrap;
  .product-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .right-stuff {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.3rem;
      .price {
        color: $grey;
        font-size: 0.9rem;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 1rem;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      width: 100%;
    }
  }

  border-bottom: 1px solid #000;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;

  &:first-child {
    border-top: 1px solid #000;
  }
}

.cart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-form-wrapper {
  @include input-element;
  textarea {
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
  }
  padding: 42px;
  height: calc(100vh - 95px);
}
.add-product-btn {
  margin-top: 20px;
  width: 100%;
}
.checkout-btn {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .menu-product .product-wrapper {
    flex-direction: row;
    img {
      width: 170px;
    }
    .right-stuff .title-wrapper .price {
      color: $grey;
      font-size: 1rem;
    }
    .btn {
      width: 170px;
    }
  }

  .marina-store {
    flex-direction: row;
    height: calc(100vh - 95px);
  }
  .marina-store > *:first-child {
    overflow: scroll;
  }
  ul.order li button {
    border: 0;
    display: none;
    line-height: 1;
    padding: 0;
  }
}
